[submodule "elisp/mingus"]
	path = elisp/mingus
	url = git://github.com/pft/mingus.git
[submodule "elisp/twittering-mode"]
	path = elisp/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
